.App {
  text-align: center;
}

.App > div > div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  margin: 100px auto;
}

button {
  background: grey;
  color: white;
}